; This file is managed by ansible. It belongs to {{ role_path }}.
; See https://github.com/yunity/yuca to change.
[{{ site }}]
prefix = /var/www/{{ site }}
user = {{ site }}
chdir = /
listen = /var/run/php/php7.3-fpm-{{ site }}.sock;
listen.owner = www-data
listen.group = www-data
pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 2
pm.max_requests = 1000
pm.status_path = /status
slowlog = log/{{ site }}.log.slow
request_slowlog_timeout = 5s
php_admin_value[error_log] = log/php-error.log
php_admin_flag[log_errors] = on
php_admin_value[memory_limit] = 512M
php_admin_value[mbstring.func_overload] = 0
php_admin_value[default_charset] = UTF-8
php_admin_value[output_buffering] = 0
env[HOSTNAME] = $HOSTNAME
env[PATH] = /usr/local/bin:/usr/bin:/bin
env[TMP] = /tmp
env[TMPDIR] = /tmp
env[TEMP] = /tmp