# This file is managed by ansible. It belongs to {{ role_path }}.
# See https://gitlab.com/foodsharing-dev/carrot to change.
# -----------

daemonize yes

port 0

dbfilename dump.rdb
dir /var/www/{{ site }}/redis/data
pidfile /var/www/{{ site }}/redis/server.pid
unixsocket /var/www/{{ site }}/redis/server.sock
unixsocketperm 700

bind 127.0.0.1

databases 16

timeout 0
tcp-keepalive 0

loglevel notice
logfile /var/www/{{ site }}/log/redis-server.log
