[Unit]
Description=redis {{ site }}
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/redis-server /etc/redis/redis-{{ site }}.conf
ExecStop=/usr/bin/redis-cli -s /var/www/{{ site }}/redis/server.sock shutdown
Restart=always
User={{ site }}
Group={{ site }}

[Install]
WantedBy=multi-user.target
